#prediction_card {
    align-items: right;
}

#title_card {
    border: white;
    border-radius: 15px;
    height: 60px;
}

.hero {
    position: relative;
    width: 1400px;
    height: 350px;
    padding: 10px;
    margin: 0 auto;
    padding-top: 20px;
    vertical-align: bottom;
    /* background-color: white; */
    /* opacity: 100; */
    /* background-image: url("../resources/top_image.jpg");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover; */
}

.hero h1 {
    font-size: 60px;
    font-family: Verdana;
    animation: title 1.2s forwards linear;
    color: rgb(0,0,0);
    /* border-style: inset; */
    margin-top: 20px;
    margin-bottom: 40px;
}

.mainhead {
  font-size: 40px;
  font-family: Waste Money;
  animation: title 1.2s forwards linear;
  color: rgba(4,15,71,0.7);
  margin-top: 20px;
  margin-bottom: 15px;
  text-align: right;
  padding-right: 60px;
}

#secondaryhead {
  font-size: 22px;
  font-family: finance;
  animation: subtitle 1.2s forwards linear;
  animation-delay: 1.2s;
  color: black;
  text-align:left;
  margin-top: 20px;
  margin-left: 70px;
  padding: 3px;
}
    
.hero span {
    font-size: 25px;
    font-family: Verdana;
    animation: subtitle 1.2s forwards linear;
    animation-delay: 1.2s;
    color: black;
    /* background-color: white;
    border: 2px solid white;
    border-radius: 15px 5px 15px; */
    padding: 5px;
    margin-top: 100px;
}

#titlehead {
  height: 350px;
  background-color: rgba(181, 181, 181, 0.8);
  border-right: 5px solid white;
}

body {
    background-image: url("../resources/top_image.jpg");
}

#master_container {
    background-color: rgba(77,173,247,0.7);
    width: 1300px;
    border: 5px solid white; 
    border-radius: 15px;
    margin: 0 auto;
    /* margin-bottom: 50px; */
}

.container {
    height: 250px;
}

#page_title {
  background-image: url("../resources/title-image2.jpeg");
  border: 5px solid white;
  margin-bottom: 10px;
}

#spacer {
  height: 10px;
  background-color: white;
  border: 1px solid white;
  border-radius: 15px;
}

#spacer2 {
  height: 50px;
}

#lt_col {
    padding: 20px;
}

#graphs {
    padding: 20px;
}

#rt_col {
    position: top;
    padding: 10px;
}

.well {
    width: 159px;
    background: rgb(181,181,181);
}

.panel panel-primary {
    width: 200px;
}
/* 
/* Main Title Page */

/* @import url('https://fonts.googleapis.com/css?family=Roboto:700');
@keyframes showTopText {
  0% { transform: translate3d(0, 100%, 0); }
  40%, 60% { transform: translate3d(0, 50%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
@keyframes showBottomText {
  0% { transform: translate3d(0, -100%, 0); }
  100% { transform: translate3d(0, 0, 0); }
}
.animated-title {
  color: #222;
  font-family: Roboto, Arial, sans-serif;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid white;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
    color: black;
    font-size: 50px;
    background: white;
  /* color: rgba(0, 0, 0, 0.5); */
/* }
.animated-title > div.text-bottom {
  bottom: 0;
  color: white;
  align-items: center;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  transform: translate(0, -100%);
  align-self: right;
} */