<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Stock Prediction - Future State</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
 
  <div class="container">
    <div class="row">
      <div class="col-md-12 jumbotron text-center">
        <h1>Stock Price Predictor</h1>
        <p>Use the interactive charts below to explore a given stock and see its predicted price at a given point in the future.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2">
        <div class="well">
          <h5>Stock Ticker:</h5>
          <select id= 'selDataset' name= 'tickers' method="GET" action="/" onchange="buildStockGraph()">
            {% for name in tickers %}
            <option value= "{{name}}" SELECTED>{{name}}</option>"
            {% endfor %}
        </select>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Special title treatment</h5>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="panel panel-primary">
          <div class="panel-heading">
            <h3 class="panel-title">CURRENT STATE</h3>
          </div>
          <div id="sample-metadata" class="panel-body">
            <h5><b>Company Name: </b>{{ name }}</h5> <br>
            <b>Open Price:</b>variable goes here <br><br>
            <b>High:</b>variable goes here <br><br>
            <b>Low:</b>variable goes here <br><br>
            <b>Close Price:</b>variable goes here <br><br>
            <b>Volume:</b>variable goes here
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div id="bar"></div>
      </div>
      <div class="col-md-5">
        <div id="gauge"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="bubble"></div>
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="{{ url_for('static',filename='js/logic.js') }}"></script>
</body>

</html>
