#prediction_card {
    align-items: right;
}

#title_card {
    border: white;
    border-radius: 15px;
    height: 60px;
}

.hero {
    position: relative;
    height: 150px;
    padding: 10px;
    margin: 0 auto;
    padding-top: 20px;
    /* background-color: white; */
    /* opacity: 100; */
    /* background-image: url("../resources/top_image.jpg");
    background-attachment: fixed;
    background-position: bottom center;
    background-size: cover; */
}

.hero h1 {
    font-size: 60px;
    animation: title 1.2s forwards linear;
    color: rgba(0, 0, 0, 0.5);
}
    
.hero span {
    font-size: 25px;
    animation: subtitle 1.2s forwards linear;
    animation-delay: 1.2s;
    color: black;
    background-color: white;
    border: white;
    border-radius: 15px 50x 30px;
    padding: 5px;
}

body {
    background-image: url("../resources/top_image.jpg");
}

#master_container {
    background-color: white;
    width: 1300px;
    border: 2px solid white; 
    border-radius: 15px;
    margin: 0 auto;
}

#page_title {
    background-color: none;
}

#lt_col {
    padding: 20px;
}

#graphs {
    padding: 20px;
}

#rt_col {
    position: top;
    padding: 10px;
}

.well {
    width: 159px;
}

.panel panel-primary {
    width: 200px;
}

